<link href="~/css/button.css" rel="stylesheet" />
<div class="button" onclick="location.href='@Url.Action("Create")'">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  Add A New @this.ViewContext.RouteData.Values["controller"].ToString()
</div> 

